# 1. INITIALIZE CONFIGURATION VALUES

In [1]:
import os
import configparser
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

# 2. CREATE SPARK SESSION

In [2]:
from datetime import datetime
from pyspark.sql import SparkSession

In [3]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [4]:
spark = create_spark_session()

# 3. READ INPUT DATA

### 3a. EXTRACT LOCAL DATA

In [5]:
from zipfile import ZipFile

In [6]:
for file in os.listdir('data'):
    if file.endswith('.zip'):
        file_name = file.split('.')[0]
        with ZipFile('data/' + file) as zp:
            zp.extractall('extracted_data/' + file_name)
    print(file)

log-data.zip
song-data.zip

### 3b. READ LOCAL INPUT DATA FOR TESTING

In [5]:
local_song_path = config['LOCAL']['SONG_DATA_PATH']
local_log_path = config['LOCAL']['LOG_DATA_PATH']
local_song_data = spark.read.json(local_song_path)
local_log_data = spark.read.json(local_log_path)

In [6]:
print("Count: ", local_song_data.count())
local_song_data.printSchema()
print(local_song_data.take(1)), print()
local_song_data.show(10)

Count:  71
root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

[Row(artist_id='ARDR4AC1187FB371A1', artist_latitude=None, artist_location='', artist_longitude=None, artist_name='Montserrat Caball√©;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', duration=511.16363, num_songs=1, song_id='SOBAYLL12A8C138AF9', title='Sono andati? Fingevo di dormire', year=0)]

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARDR4AC1187FB371A1|           null|                    |            null|Montserrat Caball...|511.16363|        1|SOBAYLL12A8C138AF9|Sono andati? Fing...|   0|
|AREBBGV1187FB523D2|           null|         Houston, TX|            null|Mike Jones (Featu...|173.66159|        1|SOOLYAZ12A6701F4A6|Laws Patrolling (...|   0|
|ARMAC4T1187FB3FA4C|       40.82624|   Morris Plains, NJ|       -74.47995|The Dillinger Esc...|207.77751|        1|SOBBUGU12A8C13E95D|Setting Fire to S...|2004|
|ARPBNLO1187FB3D52F|       40.71455|        New York, NY|       -74.00712|            Tiny Tim| 43.36281|        1|SOAOIBZ12AB01815BE|I Hold Your Hand ...|2000|
|ARNF6401187FB57032|       40.79086|New York, NY [Man...|       -73.96644|   Sophie B. Hawkins|  305.162|        1|SONWXQJ12A8C134D94|The Ballad Of Sle...|1994|
|ARDNS031187B9924F0|       32.67828|             Georgia|       -83.22295|          Tim Wilson|186.48771|        1|SONYPOM12A8C13B2D7|I Think My Wife I...|2005|
|ARLTWXK1187FB5A3F8|       32.74863|      Fort Worth, TX|       -97.32925|         King Curtis|326.00771|        1|SODREIN12A58A7F2E5|A Whiter Shade Of...|   0|
|ARPFHN61187FB575F6|       41.88415|         Chicago, IL|       -87.63241|         Lupe Fiasco|279.97995|        1|SOWQTQZ12A58A7B63E|Streets On Fire (...|   0|
|ARI2JSK1187FB496EF|       51.50632|     London, England|        -0.12714|Nick Ingman;Gavyn...|111.62077|        1|SODUJBS12A8C132150|Wessex Loses a Bride|   0|
|AR9AWNF1187B9AB0B4|           null|Seattle, Washingt...|            null|Kenny G featuring...|236.93016|        1|SOZHPGD12A8C1394FE|     Baby Come To Me|   0|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 10 rows

In [7]:
print("Count: ", local_log_data.count())
local_log_data.printSchema()
print(local_log_data.take(1)), print()
local_log_data.show(10)

Count:  8056
root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

[Row(artist='Harmonia', auth='Logged In', firstName='Ryan', gender='M', itemInSession=0, lastName='Smith', length=655.77751, level='free', location='San Jose-Sunnyvale-Santa Clara, CA', method='PUT', page='NextSong', registration=1541016707796.0, sessionId=583, song='Sehr kosmisch', status=200, ts=1542241826796, userAgent='"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', userId='26')]

+-----------+----------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|     artist|      auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+-----------+----------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|   Harmonia| Logged In|     Ryan|     M|            0|   Smith|655.77751| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|       Sehr kosmisch|   200|1542241826796|"Mozilla/5.0 (X11...|    26|
|The Prodigy| Logged In|     Ryan|     M|            1|   Smith|260.07465| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|     The Big Gundown|   200|1542242481796|"Mozilla/5.0 (X11...|    26|
|      Train| Logged In|     Ryan|     M|            2|   Smith|205.45261| free|San Jose-Sunnyval...|   PUT|NextSong|1.541016707796E12|      583|            Marry Me|   200|1542242741796|"Mozilla/5.0 (X11...|    26|
|       null| Logged In|    Wyatt|     M|            0|   Scott|     null| free|Eureka-Arcata-For...|   GET|    Home|1.540872073796E12|      563|                null|   200|1542247071796|Mozilla/5.0 (Wind...|     9|
|       null| Logged In|   Austin|     M|            0| Rosales|     null| free|New York-Newark-J...|   GET|    Home|1.541059521796E12|      521|                null|   200|1542252577796|Mozilla/5.0 (Wind...|    12|
|Sony Wonder| Logged In|   Samuel|     M|            0|Gonzalez|218.06975| free|Houston-The Woodl...|   PUT|NextSong|1.540492941796E12|      597|           Blackbird|   200|1542253449796|"Mozilla/5.0 (Mac...|    61|
|       null| Logged In|   Samuel|     M|            1|Gonzalez|     null| free|Houston-The Woodl...|   GET|   About|1.540492941796E12|      597|                null|   200|1542253460796|"Mozilla/5.0 (Mac...|    61|
|       null|Logged Out|     null|  null|            0|    null|     null| paid|                null|   PUT|   Login|             null|      602|                null|   307|1542260074796|                null|      |
|       null| Logged In|    Tegan|     F|            1|  Levine|     null| paid|Portland-South Po...|   GET|    Home|1.540794356796E12|      602|                null|   200|1542260277796|"Mozilla/5.0 (Mac...|    80|
|  Van Halen| Logged In|    Tegan|     F|            2|  Levine|289.38404| paid|Portland-South Po...|   PUT|NextSong|1.540794356796E12|      602|Best Of Both Worl...|   200|1542260935796|"Mozilla/5.0 (Mac...|    80|
+-----------+----------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 10 rows

### 3c. READ DATA FROM S3 FOR PRODUCTION

In [46]:
config.read('dl.cfg')
aws_song_path = config['AWS']['SONG_DATA_PATH']
aws_log_path = config['AWS']['LOG_DATA_PATH']
config['AWS']['SONG_DATA_PATH'], config['AWS']['LOG_DATA_PATH']

('s3a://udacity-dend/song_data/A/A/A/TRAAAAW128F429D538.json',
 's3a://udacity-dend/log-data/*/*/*.json')

In [17]:
import time
start = time.time()
aws_log_data = spark.read.format("json").load(config['AWS']['LOG_DATA_PATH'])
aws_song_data = spark.read.format("json").load(config['AWS']['SONG_DATA_PATH'])
print(time.time() - start, 'seconds')

KeyboardInterrupt:

In [ ]:
print("Count: ", aws_song_data.count())
aws_song_data.printSchema()
print(aws_song_data.take(1)), print()
aws_song_data.show(10)

In [ ]:
print("Count: ", aws_log_data.count())
aws_log_data.printSchema()
print(aws_log_data.take(1)), print()
aws_log_data.show(10)

# 4. CREATE TABLES

In [8]:
# SWITCH LINES FOR LOCAL VS AWS USE

song_data = local_song_data
log_data = local_log_data
output_path = config['LOCAL']['OUTPUT_DATA_PATH']

# song_data = aws_song_data
# log_data = aws_log_data
# output_path = config['AWS']['OUTPUT_DATA_PATH']

### 4a. CREATE SONGS TABLE FROM SONG DATA

In [ ]:
song_data.createOrReplaceTempView("song_data")

In [10]:
songs_table = spark.sql("""
    SELECT song_id, title, artist_id, year, duration
    FROM song_data
    ORDER BY song_id
""")
print("Count: ", songs_table.count())
songs_table.printSchema()
print(songs_table.take(1)), print()
songs_table.show(10)

Count:  71
root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: long (nullable = true)
 |-- duration: double (nullable = true)

[Row(song_id='SOAOIBZ12AB01815BE', title='I Hold Your Hand In Mine [Live At Royal Albert Hall]', artist_id='ARPBNLO1187FB3D52F', year=2000, duration=43.36281)]

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOAOIBZ12AB01815BE|I Hold Your Hand ...|ARPBNLO1187FB3D52F|2000| 43.36281|
|SOBAYLL12A8C138AF9|Sono andati? Fing...|ARDR4AC1187FB371A1|   0|511.16363|
|SOBBUGU12A8C13E95D|Setting Fire to S...|ARMAC4T1187FB3FA4C|2004|207.77751|
|SOBBXLX12A58A79DDA|Erica (2005 Digit...|AREDBBQ1187B98AFF5|   0|138.63138|
|SOBCOSW12A8C13D398|  Rumba De Barcelona|AR7SMBG1187B9B9066|   0|218.38322|
|SOBEBDG12A58A76D60|        Kassie Jones|ARI3BMM1187FB4255E|   0|220.78649|
|SOBKWDJ12A8C13B2F3|Wild Rose (Back 2...|AR36F9J1187FB406F1|   0|230.71302|
|SOBLGCN12AB0183212|James (Hold The L...|AR47JEX1187B995D81|1985|124.86485|
|SOBONFF12A6D4F84D8|Tonight Will Be A...|ARIK43K1187B9AE54C|1986| 307.3824|
|SOBZBAZ12A6D4F8742|      Spanish Grease|AROUOZZ1187B9ABE51|1997|168.25424|
+------------------+--------------------+------------------+----+---------+
only showing top 10 rows

In [53]:
songs_table.write.mode("overwrite")\
                 .partitionBy("year", "artist_id")\
                 .parquet(output_path + 'songs/')

### 4b. CREATE ARTISTS TABLE FROM SONG DATA

In [11]:
artists_table = spark.sql("""
    SELECT DISTINCT artist_id, 
                    artist_name AS name, 
                    artist_location AS location, 
                    artist_latitude AS latitude, 
                    artist_longitude AS longitude
    FROM song_data
    ORDER BY artist_id desc
""")
print("Count: ", artists_table.count())
artists_table.printSchema()
print(artists_table.take(1)), print()
artists_table.show(10)

Count:  69
root
 |-- artist_id: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_longitude: double (nullable = true)

[Row(artist_id='ARYKCQI1187FB3B18F', artist_name='Tesla', artist_location='', artist_latitude=None, artist_longitude=None)]

+------------------+------------------+---------------+---------------+----------------+
|         artist_id|       artist_name|artist_location|artist_latitude|artist_longitude|
+------------------+------------------+---------------+---------------+----------------+
|ARYKCQI1187FB3B18F|             Tesla|               |           null|            null|
|ARXR32B1187FB57099|               Gob|               |           null|            null|
|ARWB3G61187FB49404|       Steve Morse| Hamilton, Ohio|           null|            null|
|ARVBRGZ1187FB4675A|      Gwen Stefani|               |           null|            null|
|ARULZCI1241B9C8611|Luna Orbit Project|               |           null|            null|
|ARQGYP71187FB44566|      Jimmy Wakely|    Mineola, AR|       34.31109|       -94.02978|
|ARQ9BO41187FB5CF1F|        John Davis|   Pennsylvania|       40.99471|       -77.60454|
|ARPFHN61187FB575F6|       Lupe Fiasco|    Chicago, IL|       41.88415|       -87.63241|
|ARPBNLO1187FB3D52F|          Tiny Tim|   New York, NY|       40.71455|       -74.00712|
|ARP6N5A1187B99D1A3|       Mitch Ryder|  Hamtramck, MI|           null|            null|
+------------------+------------------+---------------+---------------+----------------+
only showing top 10 rows

In [52]:
artists_table.write.mode("overwrite").parquet(output_path + 'artists/')

### 4c. CREATE TIME TABLE FROM LOG DATA

In [57]:
from datetime import datetime
from pyspark.sql.functions import udf, col, monotonically_increasing_id
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, to_date
from pyspark.sql import types as t

In [58]:
MILLISECONDS = 1000

In [13]:
extract_timestamp = udf(lambda x: datetime.fromtimestamp(x / MILLISECONDS), t.TimestampType())
log_data = log_data.withColumn("timestamp", extract_timestamp(log_data.ts))

In [14]:
log_data.createOrReplaceTempView("log_data")

In [15]:
time_table = spark.sql("""
    SELECT DISTINCT  timestamp AS start_time,
                     hour(timestamp) AS hour,
                     day(timestamp)  AS day,
                     weekofyear(timestamp) AS week,
                     month(timestamp) AS month,
                     year(timestamp) AS year,
                     dayofweek(timestamp) AS weekday
    FROM log_data
    ORDER BY datetime
""")
print("Count: ", time_table.count())
time_table.printSchema()
print(time_table.take(1)), print()
time_table.show(10)

Count:  8023
root
 |-- datetime: timestamp (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: integer (nullable = true)

[Row(datetime=datetime.datetime(2018, 11, 1, 20, 57, 10, 796000), hour=20, day=1, week=44, month=11, year=2018, weekday=5)]

+--------------------+----+---+----+-----+----+-------+
|            datetime|hour|day|week|month|year|weekday|
+--------------------+----+---+----+-----+----+-------+
|2018-11-01 20:57:...|  20|  1|  44|   11|2018|      5|
|2018-11-01 21:01:...|  21|  1|  44|   11|2018|      5|
|2018-11-01 21:02:...|  21|  1|  44|   11|2018|      5|
|2018-11-01 21:05:...|  21|  1|  44|   11|2018|      5|
|2018-11-01 21:08:...|  21|  1|  44|   11|2018|      5|
|2018-11-01 21:11:...|  21|  1|  44|   11|2018|      5|
|2018-11-01 21:17:...|  21|  1|  44|   11|2018|      5|
|2018-11-01 21:24:...|  21|  1|  44|   11|2018|      5|
|2018-11-01 21:28:...|  21|  1|  44|   11|2018|      5|
|2018-11-01 21:42:...|  21|  1|  44|   11|2018|      5|
+--------------------+----+---+----+-----+----+-------+
only showing top 10 rows

In [51]:
time_table.write.mode("overwrite")\
                .partitionBy("year", "month")\
                .parquet(output_path + 'time/')

### 4d. CREATE USERS TABLE FROM LOG DATA

In [55]:
users_table = spark.sql("""
    SELECT  DISTINCT userId    AS user_id, 
                     firstName AS first_name, 
                     lastName  AS last_name, 
                     gender, 
                     level
    FROM log_data
    ORDER BY last_name
""")

print("Count: ", users_table.count())
users_table.printSchema()
print(users_table.take(1)), print()
users_table.show(10)

Count:  107
root
 |-- user_id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

[Row(user_id='', first_name=None, last_name=None, gender=None, level='free')]

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|       |      null|     null|  null| free|
|       |      null|     null|  null| paid|
|     66|     Kevin| Arellano|     M| free|
|     34|    Evelin|    Ayala|     F| free|
|     99|       Ann|    Banks|     F| free|
|    100|     Adler|  Barrera|     M| free|
|     42|    Harper|  Barrett|     M| paid|
|     91|    Jayden|     Bell|     M| free|
|      2|   Jizelle| Benjamin|     F| free|
|     58|     Emily|   Benson|     F| paid|
+-------+----------+---------+------+-----+
only showing top 10 rows

In [56]:
users_table.write.mode("overwrite").parquet(output_path + 'users/')

### 4e. CREATE SONGPLAYS TABLE FROM LOG DATA

In [44]:
songplays_table = spark.sql("""
    SELECT  log_data.timestamp AS start_time, 
            log_data.userId AS user_id, 
            log_data.level, 
            song_data.song_id, 
            song_data.artist_id ,
            log_data.sessionId AS session_id, 
            log_data.location, 
            log_data.userAgent AS user_agent

    FROM log_data 
    INNER JOIN song_data 
    ON song_data.artist_name = log_data.artist 
    WHERE log_data.page = 'NextSong'
""")
songplays_table = songplays_table.withColumn("songplay_id", monotonically_increasing_id())
songplays_table = songplays_table.select('songplay_id', *songplays_table.columns[:len(songplays_table.columns)-1])

print("Count: ", songplays_table.count())
songplays_table.printSchema()
print(songplays_table.take(1)), print()
songplays_table.show(10)

Count:  21
root
 |-- songplay_id: long (nullable = false)
 |-- start_time: timestamp (nullable = true)
 |-- user_id: string (nullable = true)
 |-- level: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- session_id: long (nullable = true)
 |-- location: string (nullable = true)
 |-- user_agent: string (nullable = true)

[Row(songplay_id=0, start_time=datetime.datetime(2018, 11, 15, 20, 32, 47, 796000), user_id='44', level='paid', song_id='SOBONFF12A6D4F84D8', artist_id='ARIK43K1187B9AE54C', session_id=619, location='Waterloo-Cedar Falls, IA', user_agent='Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0')]

+-----------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|songplay_id|          start_time|user_id|level|           song_id|         artist_id|session_id|            location|          user_agent|
+-----------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
|          0|2018-11-15 20:32:...|     44| paid|SOBONFF12A6D4F84D8|ARIK43K1187B9AE54C|       619|Waterloo-Cedar Fa...|Mozilla/5.0 (Maci...|
|          1|2018-11-21 21:56:...|     15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|       818|Chicago-Napervill...|"Mozilla/5.0 (X11...|
|          2|2018-11-14 13:11:...|     34| free|SOWQTQZ12A58A7B63E|ARPFHN61187FB575F6|       495|Milwaukee-Waukesh...|Mozilla/5.0 (Maci...|
|          3|2018-11-14 20:16:...|    101| free|SORRZGD12A6310DBC3|ARVBRGZ1187FB4675A|       603|New Orleans-Metai...|"Mozilla/5.0 (Win...|
|          4|2018-11-28 23:22:...|     24| paid|SOWQTQZ12A58A7B63E|ARPFHN61187FB575F6|       984|Lake Havasu City-...|"Mozilla/5.0 (Win...|
|          5|2018-11-24 03:48:...|     88| paid|SONWXQJ12A8C134D94|ARNF6401187FB57032|       888|Sacramento--Rosev...|"Mozilla/5.0 (Mac...|
|          6|2018-11-24 12:42:...|     80| paid|SOBONFF12A6D4F84D8|ARIK43K1187B9AE54C|       903|Portland-South Po...|"Mozilla/5.0 (Mac...|
|          7|2018-11-29 20:29:...|     49| paid|SOBONFF12A6D4F84D8|ARIK43K1187B9AE54C|      1041|San Francisco-Oak...|Mozilla/5.0 (Wind...|
|          8|2018-11-19 15:36:...|     49| paid|SOFSOCN12A8C143F5D|ARXR32B1187FB57099|       724|San Francisco-Oak...|Mozilla/5.0 (Wind...|
|          9|2018-11-19 20:44:...|     42| paid|SOFFKZS12AB017F194|ARBEBBY1187B9B43DB|       632|New York-Newark-J...|"Mozilla/5.0 (Win...|
+-----------+--------------------+-------+-----+------------------+------------------+----------+--------------------+--------------------+
only showing top 10 rows

In [50]:
songplays_table.write.mode("overwrite").parquet(output_path + 'song_plays/')