# Project Title
### Data Engineering Capstone Project

#### Project Summary
Pull AT&T's cell site throughput and number of user data from Vertica Database. Calculate weighted 5th percentile throughput values aggregated by Nation, Market, Submarket, and Vendor. Push new KPI into Oracle database to visual on PowerBI front end. This new KPI will be used to measure customer experience.

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

The raw data consist of daily cell site data nationwide (>1million) with number of users and throughput KPIs. I wrote a new Airflow Vertica operater to pull the data and save it to a flat file. Then, an Airflow Python operater computes weighted percentile throughput values for each vendor, market, and submarket. These new KPIs are then pushed into an Oracle database using an Airflow Oracle operator. This data will be used by other team to visualize on the frontend using PowerBI

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included? 

The raw data consist of daily cell site data nationwide (>10million) with number of users and throughput KPIs. Two queries are ran for each of the vendor data.

In [15]:
# Read in the data here

# Source #1 SQL statement for Ericsson vendor
# /Airflow/plugins/sql/5th_ptile_qci_eri.sql

WITH
  --Table to lookup market and submarket of each cell
  --Note: Add and remove markets/submarket as needed to speed up query
  --DON'T CHANGE DATE FOR THIS TABLE
  market AS (
    SELECT DISTINCT
      MARKETCLUSTER AS MARKET,
      MARKET AS SUBMARKET,
      EUTRANCELL_NAME

    FROM PDW_MOBILITYSCORECARD_VIEWS.LTE_RTB_SCORECARD_DY
    WHERE 
      EUCELLVENDORLIST = 'E' AND MARKET <> '*' AND MARKET <> '*COMMERCIAL' 
	  AND MARKET <> '-' AND MARKET NOT LIKE '%-PART' AND EUTRANCELL_NAME <> '*' 
	  AND DATETIMELOCAL >= '2020-02-01'  
  )

SELECT 
  TRUNC(cell.DATETIME) AS DATETIME,
  market.MARKET,
  market.SUBMARKET,
  'E' AS VENDOR,
  market.EUTRANCELL_NAME AS EUTRANCELL, 
  
  --RRC CONNECTION 
  PMRRCCONNLEVSUM AS AVG_RRC_CONN_NUM,
  NULLIFZERO(PMRRCCONNLEVSAMP) AS AVG_RRC_CONN_DEN,
  PMRRCCONNLEVSUM/NULLIFZERO(PMRRCCONNLEVSAMP) AS AVG_RRC_CONN,
  
  --TOTAL TP
  PMPDCPVOLDLDRB - pmPdcpVolDlDrbLastTTI AS DL_DRB_TP_NUM,
  NULLIFZERO(pmUeThpTimeDl)/1000 AS DL_DRB_TP_DEN,
  1000*(PMPDCPVOLDLDRB - pmPdcpVolDlDrbLastTTI)/NULLIFZERO(pmUeThpTimeDl) AS DL_DRB_TP,
  
  --QCI TP
  cell4.PMPDCPVOLDLDRBQCI6 - cell4.PMPDCPVOLDLDRBLASTTTIQCI6 AS QCI6_DL_TPUT_NUM,
  cell4.PMPDCPVOLDLDRBQCI7 - cell4.PMPDCPVOLDLDRBLASTTTIQCI7 AS QCI7_DL_TPUT_NUM,
  cell4.PMPDCPVOLDLDRBQCI8 - cell4.PMPDCPVOLDLDRBLASTTTIQCI8 AS QCI8_DL_TPUT_NUM,
  cell4.PMPDCPVOLDLDRBQCI9 - cell4.PMPDCPVOLDLDRBLASTTTIQCI9 AS QCI9_DL_TPUT_NUM,
  
  cell4.PMDRBTHPTIMEDLQCI6/1000 AS QCI6_DL_TPUT_DEN,
  cell4.PMDRBTHPTIMEDLQCI7/1000 AS QCI7_DL_TPUT_DEN,
  cell4.PMDRBTHPTIMEDLQCI8/1000 AS QCI8_DL_TPUT_DEN,
  cell4.PMDRBTHPTIMEDLQCI9/1000 AS QCI9_DL_TPUT_DEN,
  
  1000*(cell4.PMPDCPVOLDLDRBQCI6 - cell4.PMPDCPVOLDLDRBLASTTTIQCI6)/NULLIFZERO(cell4.PMDRBTHPTIMEDLQCI6) AS DL_DRB_QCI6_TP,
  1000*(cell4.PMPDCPVOLDLDRBQCI7 - cell4.PMPDCPVOLDLDRBLASTTTIQCI7)/NULLIFZERO(cell4.PMDRBTHPTIMEDLQCI7) AS DL_DRB_QCI7_TP,
  1000*(cell4.PMPDCPVOLDLDRBQCI8 - cell4.PMPDCPVOLDLDRBLASTTTIQCI8)/NULLIFZERO(cell4.PMDRBTHPTIMEDLQCI8) AS DL_DRB_QCI8_TP,
  1000*(cell4.PMPDCPVOLDLDRBQCI9 - cell4.PMPDCPVOLDLDRBLASTTTIQCI9)/NULLIFZERO(cell4.PMDRBTHPTIMEDLQCI9) AS DL_DRB_QCI9_TP,
  
  --ERAB CONNECTIONS
  ZEROIFNULL(cell3.PMERABESTABSUCCINITQCI6) + ZEROIFNULL(cell3.PMERABESTABSUCCADDEDQCI6) AS QCI6_ERAB_SETUP_SUCC,
  ZEROIFNULL(cell3.PMERABESTABSUCCINITQCI7) + ZEROIFNULL(cell3.PMERABESTABSUCCADDEDQCI7) AS QCI7_ERAB_SETUP_SUCC,
  ZEROIFNULL(cell3.PMERABESTABSUCCINITQCI8) + ZEROIFNULL(cell3.PMERABESTABSUCCADDEDQCI8) AS QCI8_ERAB_SETUP_SUCC,
  ZEROIFNULL(cell3.PMERABESTABSUCCINITQCI9) + ZEROIFNULL(cell3.PMERABESTABSUCCADDEDQCI9) AS QCI9_ERAB_SETUP_SUCC
  
FROM 
  PDW_ERIEUTRAN_VIEWS.V_RBS_EUTRANCELLFDD_DY cell,
  PDW_ERIEUTRAN_VIEWS.V_RBS_EUTRANCELLFDD3_DY cell3,
  PDW_ERIEUTRAN_VIEWS.V_RBS_EUTRANCELLFDD4_DY cell4,
  market
  
WHERE 
  cell.DATETIME = cell3.DATETIME AND
  cell.ENODEB = cell3.ENODEB AND
  cell.EUTRANCELLFDD = cell3.EUTRANCELLFDD AND
  
  cell.DATETIME = cell4.DATETIME AND
  cell.ENODEB = cell4.ENODEB AND
  cell.EUTRANCELLFDD = cell4.EUTRANCELLFDD AND
  
  cell.EUTRANCELLFDD = market.EUTRANCELL_NAME AND
  
  cell.DATETIME >= '{start_date}' AND cell.DATETIME < '{end_date}' AND
  cell3.DATETIME >= '{start_date}' AND cell3.DATETIME < '{end_date}' AND
  cell4.DATETIME >= '{start_date}' AND cell4.DATETIME < '{end_date}' AND
  
  PMPDCPVOLDLDRB - pmPdcpVolDlDrbLastTTI > 0 AND
  pmUeThpTimeDl > 0

ORDER BY
  MARKET, 
  SUBMARKET, 
  DATETIME, 
  EUTRANCELL_NAME

# Source #2 SQL statement for Ericsson vendor
# /Airflow/plugins/sql/5th_ptile_qci_eri.sql

WITH
  --Table to lookup market and submarket of each cell
  --Note: Add and remove markets/submarket as needed to speed up query
  market AS (
    SELECT DISTINCT
      MARKETCLUSTER AS MARKET,
      MARKET AS SUBMARKET,
      EUTRANCELL_NAME

    FROM PDW_MOBILITYSCORECARD_VIEWS.LTE_RTB_SCORECARD_DY
    WHERE 
      EUCELLVENDORLIST = 'N' AND MARKET <> '*' AND MARKET <> '*COMMERCIAL' 
	  AND MARKET <> '-' AND MARKET NOT LIKE '%-PART' AND EUTRANCELL_NAME <> '*' 
	  AND DATETIMELOCAL >= '2020-02-01' 
  )
  



SELECT
  --EXTRACT(WEEK FROM (tput.DATETIME-1)) as 'WEEK',
  --TRUNC(tput.DATETIME, 'HH') AS DATETIME,
  --TRUNC(tput.DATETIME) AS DATETIME,
  tput.DATETIME AS DATETIME,
  market.MARKET AS MARKET,
  market.SUBMARKET AS SUBMARKET,
  'N' AS VENDOR,
  market.EUTRANCELL_NAME AS EUTRANCELL,
  
  --RRC Connections
  ue.SUM_RRC_CONNECTED_UE AS AVG_RRC_CONN_NUM,
  ue.DENOM_RRC_CONNECTED_UE AS AVG_RRC_CONN_DEN,
  ue.SUM_RRC_CONNECTED_UE/NULLIFZERO(ue.DENOM_RRC_CONNECTED_UE) AS AVG_RRC_CONN,
  
  --TOTAL TP
  (ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_6) + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_7) 
    + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_8) + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_9))/1000 AS DL_DRB_TP_NUM,
  (ZEROIFNULL(tput.IP_TPUT_time_DL_QCI_6) + ZEROIFNULL(tput.IP_TPUT_time_DL_QCI_7)
    + ZEROIFNULL(tput.IP_TPUT_time_DL_QCI_8) + ZEROIFNULL(tput.IP_TPUT_time_DL_QCI_9))/1000 AS DL_DRB_TP_DEN,
  (ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_6) + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_7) 
    + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_8) + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_9))
    / (NULLIFZERO(ZEROIFNULL(tput.IP_TPUT_time_DL_QCI_6) + ZEROIFNULL(tput.IP_TPUT_time_DL_QCI_7)
    + ZEROIFNULL(tput.IP_TPUT_time_DL_QCI_8) + ZEROIFNULL(tput.IP_TPUT_time_DL_QCI_9))) AS DL_DRB_TP,
  
  --QCI TP
  tput.IP_TPUT_VOL_DL_QCI_6/1000 AS QCI6_DL_TPUT_NUM,
  tput.IP_TPUT_VOL_DL_QCI_7/1000 AS QCI7_DL_TPUT_NUM,
  tput.IP_TPUT_VOL_DL_QCI_8/1000 AS QCI8_DL_TPUT_NUM,
  tput.IP_TPUT_VOL_DL_QCI_9/1000 AS QCI9_DL_TPUT_NUM,
  
  tput.IP_TPUT_time_DL_QCI_6/1000 AS QCI6_DL_TPUT_DEN,
  tput.IP_TPUT_time_DL_QCI_7/1000 AS QCI7_DL_TPUT_DEN,
  tput.IP_TPUT_time_DL_QCI_8/1000 AS QCI8_DL_TPUT_DEN,
  tput.IP_TPUT_time_DL_QCI_9/1000 AS QCI9_DL_TPUT_DEN,
  
  tput.IP_TPUT_VOL_DL_QCI_6/NULLIFZERO(tput.IP_TPUT_time_DL_QCI_6) AS DL_DRB_QCI6_TP,
  tput.IP_TPUT_VOL_DL_QCI_7/NULLIFZERO(tput.IP_TPUT_time_DL_QCI_7) AS DL_DRB_QCI7_TP,
  tput.IP_TPUT_VOL_DL_QCI_8/NULLIFZERO(tput.IP_TPUT_time_DL_QCI_8) AS DL_DRB_QCI8_TP,
  tput.IP_TPUT_VOL_DL_QCI_9/NULLIFZERO(tput.IP_TPUT_time_DL_QCI_9) AS DL_DRB_QCI9_TP,
  
  --ERAB CONNECTIONS
  ZEROIFNULL(load.ERAB_INI_SETUP_SUCC_QCI6) + ZEROIFNULL(load.ERAB_ADD_SETUP_SUCC_QCI6) AS QCI6_ERAB_SETUP_SUCC,
  ZEROIFNULL(load.ERAB_INI_SETUP_SUCC_QCI7) + ZEROIFNULL(load.ERAB_ADD_SETUP_SUCC_QCI7) AS QCI7_ERAB_SETUP_SUCC,  
  ZEROIFNULL(load.ERAB_INI_SETUP_SUCC_QCI8) + ZEROIFNULL(load.ERAB_ADD_SETUP_SUCC_QCI8) AS QCI8_ERAB_SETUP_SUCC,
  ZEROIFNULL(load.ERAB_INI_SETUP_SUCC_QCI9) + ZEROIFNULL(load.ERAB_ADD_SETUP_SUCC_QCI9) AS QCI9_ERAB_SETUP_SUCC
  
  
FROM 
  PDW_NOKEUTRAN_VIEWS.V_LTE_CELL_THROUGHPUT_DY tput,
  PDW_NOKEUTRAN_VIEWS.V_LTE_EPS_BEARER_DY load,
  PDW_NOKEUTRAN_VIEWS.V_LTE_UE_QUANTITY_DY ue,
  market
  
WHERE 
  tput.EUTRANCELL = market.EUTRANCELL_NAME AND
  
  tput.DATETIME = load.DATETIME AND
  tput.ENODEB = load.ENODEB AND
  tput.EUTRANCELL = load.EUTRANCELL AND

  tput.DATETIME = ue.DATETIME AND
  tput.ENODEB = ue.ENODEB AND
  tput.EUTRANCELL = ue.EUTRANCELL AND
 
  tput.DATETIME >= '{start_date}'  AND tput.DATETIME < '{end_date}' AND
  load.DATETIME >= '{start_date}'  AND load.DATETIME < '{end_date}' AND
  ue.DATETIME >= '{start_date}'  AND ue.DATETIME < '{end_date}' AND
  
  (ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_6) + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_7) + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_8) + ZEROIFNULL(tput.IP_TPUT_VOL_DL_QCI_9) > 0)
  


ORDER BY
  MARKET, 
  SUBMARKET, 
  DATETIME, 
  EUTRANCELL_NAME

In [2]:
# Sample set of input from both vendors concatenated 
# Real data is > 10million rows
df = pd.read_csv('ran_raw_2020-09-30.csv')
df.head()

,DATETIME,MARKET,SUBMARKET,VENDOR,EUTRANCELL,AVG_RRC_CONN_NUM,AVG_RRC_CONN_DEN,AVG_RRC_CONN,DL_DRB_TP_NUM,DL_DRB_TP_DEN,...,QCI8_DL_TPUT_DEN,QCI9_DL_TPUT_DEN,DL_DRB_QCI6_TP,DL_DRB_QCI7_TP,DL_DRB_QCI8_TP,DL_DRB_QCI9_TP,QCI6_ERAB_SETUP_SUCC,QCI7_ERAB_SETUP_SUCC,QCI8_ERAB_SETUP_SUCC,QCI9_ERAB_SETUP_SUCC
0,9/30/2020,Arizona/New Mexico,Arizona,N,AZL00001_2A_1,4412642.0,86400.0,51.072245,6.360206e+08,47316.720,...,18286.504,26331.513,19967.705810,17944.46440,13583.05348,12876.621220,328,8334,125337,74173
1,9/30/2020,Arizona/New Mexico,Arizona,N,AZL00001_2A_2,2076938.0,86400.0,24.038634,4.695367e+08,29041.877,...,9571.206,16912.516,24660.847970,15649.42302,15314.72823,16692.216270,301,7896,45728,58074
2,9/30/2020,Arizona/New Mexico,Arizona,N,AZL00001_2B_1,4484860.0,86400.0,51.908102,7.530769e+08,75357.443,...,27936.866,43743.291,6709.192382,15281.22019,10346.02089,9344.148545,532,11146,163010,105202
3,9/30/2020,Arizona/New Mexico,Arizona,N,AZL00001_2B_2,3157864.0,86400.0,36.549352,7.090318e+08,63232.530,...,19337.307,37233.000,6147.454488,12462.38724,11735.65095,10741.091610,252,10174,59485,76442
4,9/30/2020,Arizona/New Mexico,Arizona,N,AZL00001_2C_1,6332621.0,86400.0,73.294225,1.165714e+09,88547.795,...,23224.261,62315.488,10365.029550,18113.14694,13794.43928,12708.570530,365,8399,180504,154635

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

# Performing cleaning tasks here
The SQL statements provided in Airflow/plugins/sql performs all the data cleaning necessary

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

Flat raw files and one final table on Oracle database

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

start_operator >> vertica_to_file >> file_transform >> file_to_oracle

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [10]:
# Run Airflow DAG
# The initial data pull is replaced with flat input file due to private AT&T Vertica Database
# The file is outputted out as a flat file due to private AT&T Oracle Database
# However the custom operators and tasks are included in the Airflow directory

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [5]:
# Check there is data
df.shape[0] > 0

True

In [12]:
# Check both vendors data is available
len(df['VENDOR'].unique()) == 2

True

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

In [5]:
df2 = pd.read_csv('sample_output.csv')
df2.head()

,DATETIME,MARKET,SUBMARKET,VENDOR,QCI,KPI,Value
0,9/27/2020,Arizona/New Mexico,Arizona,N,QCI 6+7+8+9,TRAFFIC,3.023060e+12
1,9/27/2020,Arizona/New Mexico,Arizona,N,QCI 6,TRAFFIC,4.344205e+10
2,9/27/2020,Arizona/New Mexico,Arizona,N,QCI 7,TRAFFIC,2.281500e+11
3,9/27/2020,Arizona/New Mexico,Arizona,N,QCI 8,TRAFFIC,1.080600e+12
4,9/27/2020,Arizona/New Mexico,Arizona,N,QCI 9,TRAFFIC,1.670900e+12

In [7]:
# Output
data_dictionary= {
    'DATETIME': 'Date of the cell site data',
    'MARKET': 'AT&T Market',
    'SUBMARKET': 'AT&T Submarket',
    'VENDOR': 'Wireless RAN vendor',
    'QCI': 'Quality of service class identifier',
    'KPI': 'The KPI name for the row',
    'Value': 'The value of the KPI specified given'
}

# Step 5: Complete Project Write Up
## What's the goal? What queries will you want to run? How would Spark or Airflow be incorporated? Why did you choose the model you chose?
The goal of my project is to migrate my crontab jobs at AT&T into Airflow. The output are flat files of the data pulled and a single table of the transformed data pushed into an Oracle database. The flat files are needing to archiving the data for troubleshooting or ad hoc deep dives. The Oracle table allows other teams to access the data using PowerBI dashbaords.


## Clearly state the rationale for the choice of tools and technologies for the project.
I chose to migrate my crontab jobs into Airflow for my work at AT&T. Airflow will be able to handle the automation, logging, and alarms. Airflow also allows an easy way to modify my data pipeline or add addition data quality checks. Finally the UI is a big plus!
 
The Vertica and Oracle databases were requirements from other teams and was not a choice.

## Document the steps of the process.
The code pulls AT&T's cell site throughput and number of user data from Vertica Database. Two queries are ran for each of the vendors. Then, it calculates weighted percentile throughput values aggregated by Nation, Market, Submarket, and Vendor. Finally, it pushes new KPI into Oracle database to visual on PowerBI front end. This new KPI will be used to measure customer experience.

## Propose how often the data should be updated and why.
The pipeline is ran daily during maintenance window (1AM-5AM) since the output is aggregated at a daily level

## Post your write-up and final data model in a GitHub repo.
Can't publish project due to sensitive proprietary AT&T data

## Include a description of how you would approach the problem differently under the following scenarios:
### If the data was increased by 100x.
Use postgres instead of oracle database for faster write speeds. Store flat files                                          in S3 instead of locally. Transform the data using hadoop cluster to maximize parallel compute.

### If the pipelines were run on a daily basis by 7am.
This pipeline runs daily currently. It runs during maintenence window from 12am-4am with multiple retries. If all retries fail, then the newst date will not be viewed on the frontend. I would have to troubleshoot, debug, and deploy quality checks to ensure the pipeline does not fail again.

### If the database needed to be accessed by 100+ people.
I would migrate the Oracle database to AWS RDS to handle the scaling.